# Mainframe Port
PORT=5000

# MongoDB Connection String
# Get your URI from cloud.mongodb.com
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/agneeshos?retryWrites=true&w=majority
